<!DOCTYPE html>
<html>
    <head>
        <title>Online Tech Store</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>
            (function ($) {
                $('#plus').on('click', function() {
                    $('.spinner input').val( parseInt($('.spinner input').val(), 10) + 1);
                });
                $('#minus').on('click', function() {
                    $('.spinner input').val( parseInt($('.spinner input').val(), 10) - 1);
                });
            })(jQuery);
        </script>
        <style>
        ul button{
            margin: 5px;
        }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Online Tech Store</a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav navbar-nav navcss">
                    <li class="nav-item">
                        <a class="nav-link" href="/techs"><i class="fas fa-home"></i></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="/wishlist">Wish List</a>
                    </li>
                    <% if(!currentUser || currentUser.username == null || currentUser.username.length == 0){ %>
                        <li class="nav-item">
                            <a href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="/register">Sign Up</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a href="#">Signed In As <%= currentUser.username %></a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout">Logout</a>
                        </li>
                    <% } %> -->
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-target="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My Accounts
                        </a>
                        <div class="dropdown-menu dropdown-css" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/order">Orders</a>
                            <a class="dropdown-item" href="/shoppingcart">Shopping Cart</a>
                            <% if(!currentUser || currentUser.username == null || currentUser.username.length == 0){ %>
                            <a class="dropdown-item" href="/login">Login</a>
                            <a class="dropdown-item" href="/register">Sign Up</a>
                            <% } else { %>
                            <a class="dropdown-item" href="#"><%= currentUser.username %></a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                            <% } %>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    
    <div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>