body {
    background: #eeeeee;
}
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.navcss a {
    color: #fff;
}
.navcss a:hover {
    color: #fff;
    text-decoration:none;
}
.index-container {
    margin: 20px auto;
    background-image: url("https://thumbs.dreamstime.com/z/white-wood-planks-background-rustic-white-wood-planks-background-wood-texture-109733114.jpg");
}
.input-text {
    margin-top: 20px; 
}